<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="title" placeholder="제목" value="<%=post.title%>"/> <br><br>
    <input type="number" id="price"  placeholder="가격" value="<%=post.price%>"/> <br><br>
    <textarea id="description" placeholder="내용"><%=post.description%></textarea> <br><br>
    <%if(post.images && post.images.length > 0){%>
        <%for(let i = 0; i < post.images.length; ++i){%>
            <img src="/uploads/<%=post.images[i]%>" width="50px" height="50px">
        <%}%>
        <br><br>
    <%}%>
    <input type="file" id="image" accept="images/*" multiple/> <br><br>
    <input type="button" onclick="onRegister('PUT')" value="등록">
</body>
<script src="/javascripts/post.js"></script>
</html>