<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>홈페이지</title>

  <link rel="stylesheet" href="/stylesheets/home.css" />
  <script src="/javascripts/home.js"></script>
</head>

<body>
  <div class="main-remake">
    <% include ./sidebar.html %>

    <!--콘텐츠-->
    <div class="main-section">
      <div class="center-section">
        <!--로고-->
        <div class="logo-wrapper">
          <img src="/uploads/myImg21700640186063.jpg">
          <!-- <a class="logo-text" href="/">
            (홈페이지로고)
          </a> -->
        </div>
        <!--소개글-->
        <div class="intro-wrapper">
          <div class="intro-text">Introduction</div>
        </div>
    
        <!--설계도 추천-->
        <div class="recommandation-1">
          <div class="background"></div>
          <div class="recommandation-text">이 달의 설계도 TOP3</div>
    
          <a id="thumbnail-1" href=""><img id="img-1" class="thumbnail" src="/images/no_image.png"></a>
          <a id="thumbnail-2" href=""><img id="img-2" class="thumbnail" src="/images/no_image.png"></a>
          <a id="thumbnail-3" href=""><img id="img-3" class="thumbnail" src="/images/no_image.png"></a>
    
          <a id="title-1" class="title-text" href="">빈 제목</a>
          <a id="title-2" class="title-text" href="">빈 제목</a>
          <a id="title-3" class="title-text" href="">빈 제목</a>
        </div>
    
        <!--설계코드 추천-->
        <div class="recommandation-2">
          <div class="background"></div>
          <div class="recommandation-text">이 달의 설계코드 TOP3</div>
    
          <a id="thumbnail-4"><img id="img-4" class="thumbnail" src="/images/no_image.png"></a>
          <a id="thumbnail-5"><img id="img-5" class="thumbnail" src="/images/no_image.png"></a>
          <a id="thumbnail-6"><img id="img-6" class="thumbnail" src="/images/no_image.png"></a>
    
          <a id="title-4" class="title-text" href="">빈 제목</a>
          <a id="title-5" class="title-text" href="">빈 제목</a>
          <a id="title-6" class="title-text" href="">빈 제목</a>
        </div>
      </div>
    
      <!--오른쪽 -->
      <div class="right-section">
        <!--광고 -->
        <div class="login-space"></div>
        <div class="ad"><img src="/images/ad2.png" width="323px" height="402px"></div>
        <div class="ad"><img src="/images/ad3.jpg" width="323px" height="402px"></div>
      </div>
    
      <%include ./personalNav.ejs%>
    </div>
  </div>
</body>

</html>