<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="title" placeholder="제목"/> <br><br>
    <input type="number" id="price"  placeholder="가격"/> <br><br>
    <textarea id="description" placeholder="내용"></textarea> <br><br>
    <input type="file" id="image" accept="images/*" multiple/> <br><br>
    <input type="button" onclick="onRegister('POST')" value="등록">
</body>
<script src="/javascripts/post.js"></script>
</html>